* {
    font-family: Arial, Helvetica, sans-serif;
}

h1, footer {
    background-color: pink;
    border: purple dashed;
}

main {
    background-color: aqua;
}

.book-title {
    font-style: italic;
}